/* 
  Note: The styles for this gradient grid background is heavily inspired by the creator of this amazing site (https://dub.sh) – all credits go to them! 
*/

/* globals.css */
:root {
  --background-image: url("/assets/background-light.png");
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("/assets/background-light.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Optional, keeps the background fixed while scrolling */
}

.container {
  max-width: 720px; /* Adjust this value as per your preference */
  margin: 0 auto;
  padding: 0 16px; /* Adjust the horizontal padding as needed */
}

.main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 160px 24px; /* Adjust the padding as needed */
  pointer-events: none;
}
